modules = ["nodejs-20", "bash", "web"]
run = "npm i && npm i tsx"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 40968357
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./start.sh"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5174
externalPort = 80
